<%= form_for @tweet, remote: true, html: { id: "tweetbox" } do |t| %>
  <div class="form-group">
    <%= t.label "Compose Tweet", class: "h3" %>
    <%= t.text_area :body, class: "form-control", placeholder: "Type your tweet here..", style: "height:100px" %>
    <div class="countdown"></div>
    <class="create-button"><%= t.submit "Create", class: "btn btn-success pull-right"%>

    <%= t.label "Upload image ", class: "h5" %>
    <%= t.file_field :image %>

    <%= t.hidden_field :reply_id %>
  </div>
<% end %>