<% @tweets.each do |tweet| %>
  <div class="panel panel-default">
      <div class="panel-heading">
        <%= link_to "@"+tweet.user.username, user_path(tweet.user), class: "panel-title" %>
      </div>
      <div class="panel-body">
          <%= tweet.body %>
      </div>
      <div class="panel-footer">
        <% if current_user == tweet.user %>
          <%= link_to "Delete", tweet_path(tweet), method: :delete%>
        <% else %>
          <%= link_to "Reply", reply_path(:reply_to_tweet_id => tweet.id, :reply_to_user_id => tweet.user.id)%>
        <% else %>
          <%= link_to tweet.created_at.strftime("%c"), tweet_path(tweet), class: "pull-right" %><br>
        <% end %>
      </div>
  </div>
<% end %>
