<div class="container">
  <div class="row">
    <!-- User profile section, need to show follwers and following count -->
    <div class="col-md-3">
      <div class="row">
        <div class="col-xs-6">
          <h3><%= current_user.username %></h3>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-6">
          <%= render partial: "avatar" %>
        </div>
        <div class="col-xs-6">
          <!-- Following count-->
          <div class="row">
            <div class="col-xs-12 following-count">
              <%= current_user.following.count  %> <%= link_to "Following", following_user_path(current_user) %>
            </div>
          </div>
          <!-- Followers count -->
          <div class="row">
            <div class="col-xs-12 following-count">
              <span id="followers"><%= current_user.followers.count %></span> <%= link_to "Followers", followers_user_path(current_user) %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Compose tweet textbox -->
    <div class="col-md-6 tweetbox">
      <%= render partial: "tweetbox" %>
    </div>
  </div>
    <!--Showing list of tweets  -->
  <div class="row">
    <div class="col-md-6 col-md-offset-3 tweets">
        <%= render partial: "tweets" %>
    </div>
  </div>

</div>
