<div class="container">

  <div class="row">

    <div class="col-md-6 col-md-offset-3">
      <h3>Tweets created</h3>
      <% @tweets.reverse_each do |tweet| %>
        <div class="panel panel-default">
            <div class="panel-body">
              <%= tweet.body %>
              <% if Like.find_by(tweet_id: tweet.id, user_id: current_user) != nil %>
                <%= link_to like_path(id: tweet), method: :delete do %>
                  <span class="glyphicon glyphicon-heart pull-right"></span>
                <% end %>
              <% else %>
                <%= link_to likes_path(id: tweet), method: :post do %>
                  <span class="glyphicon glyphicon-heart-empty pull-right"></span>
                <% end %>
              <% end %>
            </div>
            <div class="panel-footer">
              <% if current_user == tweet.user %>
                <%= link_to "Delete", tweet_path(tweet), method: :delete %>
              <% else %>
                <%= link_to "Reply", reply_path(:reply_to_tweet_id => tweet.id, :reply_to_user_id => tweet.user.id)%>
              <% end %>
              <%= link_to tweet.created_at.strftime("%c"), tweet_path(tweet), class: "pull-right" %><br>
            </div>
        </div>
      <% end %>
      <hr>

      <h3>Favourite tweets</h3>
      <% @likes.reverse_each do |like| %>      
        <% tweet = Tweet.find(like.tweet_id) %>
        <% if tweet.user_id != current_user.id %>
          <div class="panel panel-default">
            <div class="panel-heading">
              <%= link_to "@"+tweet.user.username, user_path(tweet.user), class: "panel-title" %>
            </div>
            <div class="panel-body">
              <%= tweet.body %>
              <% if Like.find_by(tweet_id: tweet.id, user_id: current_user) != nil %>
                <%= link_to like_path(id: tweet), method: :delete do %>
                  <span class="glyphicon glyphicon-heart pull-right"></span>
                <% end %>
              <% else %>
                <%= link_to likes_path(id: tweet), method: :post do %>
                  <span class="glyphicon glyphicon-heart-empty pull-right"></span>
                <% end %>
              <% end %>
            </div>
            <div class="panel-footer">
              <% if current_user == tweet.user %>
                <%= link_to "Delete", tweet_path(tweet), method: :delete %>
              <% else %>
                <%= link_to "Reply", reply_path(:reply_to_tweet_id => tweet.id, :reply_to_user_id => tweet.user.id)%>
              <% end %>
              <%= link_to tweet.created_at.strftime("%c"), tweet_path(tweet), class: "pull-right" %><br>
            </div>
          </div>
        <% end %>
      <% end %>

    </div>

  </div>

</div>